@import '~leaflet/dist/leaflet.css';
@import '~react-select/dist/react-select.css';
@import '~react-virtualized-select/styles.css';
@import "../../node_modules/bootstrap-css-only/css/bootstrap.min.css";
@import '../../node_modules/rc-tooltip/assets/bootstrap.css';
@import "../../node_modules/ionicons-npm/css/ionicons.min.css";

.VirtualizedSelectOption {
    color: black;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'), url('./fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Thin.woff2') format('woff2'), url('./fonts/Roboto-Thin.woff') format('woff'), url('./fonts/Roboto-Thin.ttf') format('truetype'), url('./fonts/Roboto-Thin.svg#Roboto') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'), url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/Roboto-Regular.woff2') format('woff2'), url('./fonts/Roboto-Regular.woff') format('woff'), url('./fonts/Roboto-Regular.ttf') format('truetype'), url('./fonts/Roboto-Regular.svg#Roboto') format('svg');
    font-weight: 400;
    font-style: normal;
}

*[class^="col-"] {
    box-sizing: border-box;
}

@import "../css/default.css";
//@import "../css/fonts.css";
@import "variables";
@import 'mixins/shadow';

@import 'search';
@import 'nav';
@import 'panes';
@import 'node';
@import 'rc-tooltip';

//@import 'node';

@keyframes fadeIn {
      from { opacity: 0; }
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
    color: $base-font-color;
    overflow: hidden;
    background-color: $body-background-color;

    letter-spacing: 0.6px;
    font-weight: 300;
    font-size: 12px;

    &.noSelect * {
        user-select: none;
    }

    .colorBall {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;

        position: relative;
        top: 2px;
        left: 0;

        margin-right: 5px;
    }

    .columns td {
        padding: 0 5px 0 0;
    }

    .length-limiter {
        display: block;
        /* width: 160px; */
        max-width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: normal;
    }

    canvas {
        cursor: default;
    }

    .logoContainer{
        width: 81px;
        border-right: 1px solid rgba(0,0,0,0.20);
        text-align: center;
        flex-shrink: 0;
    }

    .logo {
        max-width: auto;
        max-height: 42px;
        margin-left: 15px;
        margin-top: 6px;

        &.not-connected{
            animation: fadeIn 1s infinite alternate;
        }
    }

    tr.columns td {
        vertical-align: top;
    }

    tr.columns td em, table.details td em {
        background-color: #fbf425;
        color: #000;
        font-style: normal;
    }
}

html,
body,
#root,
.applicationWrapper,
.routerWrapper,
.rootView {
    height: 100%;
}

.rootView {
    display: flex;
    flex-direction: column;

    .header {
        flex-grow: 0;
        background-color: $header-background-color;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.25);
        position: relative;
        z-index: 9999999;
    }

    .main {
        flex-grow: 1;
        position: relative;
        display: flex;
    }

    .mainInner {
        width: 100%;
        display: flex;
        flex-grow: 1;
        overflow: hidden;
    }
}

@import 'components/field';
@import 'components/graph';
@import 'components/navigation';
@import 'components/filter';
@import 'components/timeline';
